  
  body {
    margin: 0;
    padding: 0;
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
      ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    background-color: rgb(0, 0, 0);
    width: 1440px;
  }
  p{
    color: red;
    text-align: center;
    font-size: 30px;
  }

  .container {
    max-width: 100%;
    margin-top: 35px;
    margin-left: 40px;
    margin-right: 40px;
    height: 500px;
    background-color: rgb(0, 0, 0);
    border: 12px solid #555;
    padding: 10px
    ;
 
    
  }
  .wrapper {
    display: flex;
   background-color: blue; 
  }
  a[href] {

text-decoration: none;
    color: #ff0000;
    font-size: 109%;
    background-color: #555;
    width: 457px;
    border: 12px solid rgb(0, 0, 0);
    text-align:center
  }
  img{  
    height: 200px;  
    width: 250px;  
   
    }  
   #left{    
    float: left;  
    }  
    #right{    
    float: right; 